name: Build and publish package artifact to PyPI
on:
  push:
    tags:
      - 1.*
jobs:
  build-and-publish-package:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10"]
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install --user setuptools wheel twine
      - name: Build production artifact
        run: |
          python setup.py sdist bdist_wheel
      # Keep artifact in github for backup purpose
      - name: Archive production artifact
        uses: actions/upload-artifact@v3
        with:
          name: wagtail-orderable
          path: dist
      - name: Publish package to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          user: __token__
          password: ${{ secrets.PYPI_API_TOKEN }}
          packages_dir: dist
